@import './bootstrap/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@import './variables';
@import './custom/fonts';
@import './custom/links';
@import './custom/buttons';
@import './custom/body';

@import '../namespaces/landing/landing';
@import '../namespaces/application/application';
@import '../namespaces/common/common';
@import '../namespaces/admin/admin';
