.guest-container {
  .jumbotron {
    border-radius: 0;
    background-color: $white;
    @media (max-width: 767px) {
      margin-bottom: -30px;
    }
  }
}

.create-account-form {
  @media (min-width: 768px) {
    margin-top: 64px !important;
  }
}
