* {
  font-family: $font-family;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-fat;
}

h1 {
  font-size: $font-h1;
}

h2 {
  font-size: $font-h2;
}

h3 {
  font-size: $font-h3;
}

h4 {
  font-size: $font-h4;
}
