.guest-container {
  .jumbotron {
    border-radius: 0;
    background-color: inherit;
    @media (min-width: 768px) {
      margin-bottom: -30px;
    }
  }
}

.signup-form, .login-form {
  background-color: $white;

  @media (min-width: 1024px) {
    margin-top: 64px !important;
  }
}
