.navigation-bar {
  border-bottom: 1px solid #cccccc;
  margin-top: 10px;
  padding-bottom: 12px;
}

.footer {
  height: 130px;
  padding-top: 20px;
  min-height: 20%;
  border-top: 1px solid #cccccc;
}

.container-fluid {
  padding: 0;
}
