.container-fluid {
  padding: 0;
}

.navigation-bar {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 60px;

  a {
    font-size: $navigation-link-size;
    letter-spacing: 1.3px;
    font-weight: $navigation-link-weight;
  }
}

.footer {
  position: fixed;
  height: 160px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 24 14 14 14;
  border-top: 1px solid $light-grey;

  li {
    list-style-type: none;

    a {
      font-weight: $footer-link-weight;
      font-size: $footer-link-size;
    }
  }

  h5 {
    font-size: $footer-title-size;
    color: $medium-grey;
    font-weight: $footer-title-weight;
    margin-bottom: 10px;
  }
}

.form {
  padding-bottom: 10px;

  label {
    margin-top: 4px;
  }

  .form-group {
    margin: 10px;
  }

  .form-title {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  span.error-span {
    font-size: $font-text;
    color: $warning;
    padding-left: 0px;
    margin-left: 0px;
  }

  input, textarea, select {
    border-radius: 2px !important;
    -webkit-appearance: none;
  }
}

.table {
  font-size: 12px;

  th {
    background-color: $dark-grey;
    color: $white;
  }
}
