.container-fluid {
  padding: 0;
}

.navigation-bar {
  border-bottom: 1px solid $lightmed-grey;
  padding-bottom: 10px;

  a {
    font-size: $navigation-link-size;
    letter-spacing: 1.3px;
    font-weight: $navigation-link-weight;
  }
}

.footer {
  position: fixed;
  height: 160px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 24 14 14 14;
  border-top: 1px solid $light-grey;

  li {
    list-style-type: none;

    a {
      font-weight: $footer-link-weight;
      font-size: $footer-link-size;
    }
  }

  h5 {
    font-size: $footer-title-size;
    color: $medium-grey;
    font-weight: $footer-title-weight;
    margin-bottom: 10px;
  }
}
